[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
tk = "*"
opencv-python = "*"
pillow = "*"

[dev-packages]
sns = "*"
setuptools = "*"
setuptools-pipfile = "*"

[requires]
python_version = "3.8"
